# Android Studio files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Local configuration file (local.properties)
local.properties

# User-specific configurations
*.hprof
*.orig
*.log
*.csv
*.apk
*.ap_